body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafc;
    color: #595354;
  }
  
  .header {
    background-color: #ffffff;
    padding: 10px 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header > .logo-container {
    display: flex;
    align-items: center;
  }
  
  .header > .logo-container > .logo-img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  
  .header > .logo-container > .logo-text {
    font-size: 26px;
    font-weight: 700;
  }
  
  .header > .logo-container > .logo-text > .logo-highlight {
    color: #65a9e5;
  }
  
  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .menu {
    top: 0px;
    float: right;
    height: 31px;
    width: 31px;
    background-color: rgba(245,245,245, 0.6);
    transition: all ease-in-out .5s;
  }

  .menu-button {
    position: relative;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all ease-in-out .5s;
    border: 3px solid black
  }

  .menu-button-burger {
    width: 20px;
    height: 3px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 1px 3px black;
    transition: all ease-in-out .5s;
  }

  .menu-button-burger::before,
  .menu-button-burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 1px 3px black;
    transition: all ease-in-out .5s;
  }

  .menu-button-burger::before {
    transform: translateY(-7px);
  }

  .menu-button-burger::after {
    transform: translateY(7px);
  }

  /* menue selected animation */

  .menu-button.selected .menu-button-burger {
    transform: translateX(-21.5px);
    background: transparent;
    box-shadow: none;
  }

  .menu-button.selected .menu-button-burger::before {
    transform: rotate(45deg) translate(15px, -15px);
  }

  .menu-button.selected .menu-button-burger::after {
    transform: rotate(-45deg) translate(15px, 15px);
  }

  .information {
    white-space: nowrap;
    display: none;
  }
  
  .active-users-panel {
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-right: 1px solid #cddfe7;
    font-size: 7px;
    z-index: 1;
  }
  
  .panel-title {
    margin: 10px 0 0 0;
    padding-left: 30px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #cddfe7;
    padding-bottom: 10px;
  }
  
  .active-user {
    padding: 10px 30px;
    border-bottom: 1px solid #cddfe7;
    cursor: pointer;
    user-select: none;
  }
  
  .active-user:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
  }
  
  .active-user--selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
  }
  
  .video-chat-container {
    padding: 0 20px;
    flex: 1;
    position: relative;
  }
  
  .talk-info {
    font-weight: 500;
    font-size: 15px;
  }
  
  .remote-video {
    position: fixed;
    border: 1px solid #cddfe7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    z-index: -1
  }
  
  .local-video {
    position: fixed;
    border: 1px solid #cddfe7;
    bottom: 0px;
    right: 0px;
    width: 25%;
    height: 25%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1
  }

  .call-store-view-user-panel {
    position: fixed;
    border: 1px solid #cddfe7;
    background-color: white;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    display: inline;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    z-index: -1
  }

  .call-store-view-user-input {
    width: 50px;
  }

  .active-room-panel {
    position: fixed;
    border: 1px solid #cddfe7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    display: inline;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    z-index: -1
  }
  
  .panel-room {
    margin: 10px 0 0 0;
    padding-left: 30px;
    font-weight: 800;
    font-size: 25px;
    border-bottom: 1px solid #cddfe7;
    padding-bottom: 10px;
  }
  
  .active-room {
    padding: 10px 30px;
    font-size: 18px;
    border-bottom: 1px solid #cddfe7;
    cursor: pointer;
    user-select: none;
  }

  .active-room::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: green;
    transition: all ease-in-out .5s;
  }

  .active-room:active::before {
    width: 100%;
  }
  
  .active-room:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
  }
  
  .active-room--selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
  }

  .big-video {
    position: fixed;
    border: 1px solid #cddfe7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    z-index: -1
  }

  .small-video {
    position: fixed;
    border: 1px solid #cddfe7;
    bottom: 0px;
    right: 0px;
    width: 25%;
    height: 25%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1
  }

  .user-detail-panel {
    position: fixed;
    border: 1px solid #cddfe7;
    padding-top: 70px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    display: inline;
    z-index: 2
  }

  .user-detail-content {
    background-color: rgba(245,245,245, 0.9);
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
  }

  .buttons {
    position: fixed;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 2;
  }

  .button {
    border-radius: 8px;
    background-color: white;
  }
  
  .buttonEnabled {
    background-color: green;
  }

  .buttonDisabled {
    background-color: red;
  }

  .material-icons.phone {
    font-size: 19px;
    color: green;
    font-weight: 600;
  }

  .material-icons.call {
    font-size: 15px;
    color: green;
    font-weight: 600;
  }

  .material-icons.md-15 {
    font-size: 15px;
    color: black;
    font-weight: 800;
  }

  .material-icons.md-20 {
    font-size: 20px;
    color: black;
    font-weight: 800;
  }